<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 超大屏幕（Jumbotron）</title>
    {{ assets_css "static/css/bootstrap.min.css"}}
    {{ assets_js "static/js/jquery.js"}}
    {{ assets_js "static/js/bootstrap.min.js"}}
</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>{{ .IP}}</h1>
		<p>{{ .Username}}</p>
		<p><button id="go" class="btn btn-primary btn-lg" >
			进入</button>
		</p>
	</div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form action="/" method="post">
                <textarea name="shell"></textarea>
                <input type="submit" value="确定">
            </form>
            <pre>
                {{.Result}}
            </pre>
        </div>

    </div>

</div>

</body>
<script>
    $(function () {
        $("#go").click(function () {
            var ws = new WebSocket("ws://127.0.0.1:8080/ws")
            ws.onmessage = function(e) {
                $('pre').html(e.data)
                console.log(e.data)
            };
        })
        var ws = new WebSocket("ws://127.0.0.1:8080/ws")
        ws.onmessage = function(e) {
            $('pre').html(e.data)
            console.log(e.data)
        };
    })

</script>
</html>